
.blinking-animation {
    width: 25px;
    height: 25px;
    animation: blink 1s ease infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

code{
    color:wheat !important;:
}

#successupload {
    display: none;
}

#successupload>p {
    position: relative;
    left: 20px;
}

#fileInput {
    display: none;
}

#humanRequest {
    background-color: rgb(30, 39, 46);
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
}

#dialogBody,
#dialogStatistic {
    width: 790px;
    height: 570px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-y: auto;
}

#speed {
    position: relative;
    width: 600px;
    top: 35px;
    right: -150px;
}

#speedcontrol>label {
    display: block;
    position: relative;
    top: 15px;
    width: 200px;
    color: aliceblue;
    font-size: medium;
    font-weight: bold;
}

[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    background-color: transparent;
    width: 600px;
}

[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    background: #eee;
}

[type="range" i]::-webkit-slider-container {
    height: 25px;
    overflow: hidden;
}

[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background-color: #ffffff;
    border: 1px solid transparent;
    margin-top: -8px;
    border-image: linear-gradient(#133163, #133163) 0 fill / 8 20 8 0 / 0px 0px 0 2000px;
}

#dialogStatistic {
    height: 52px;
    top: 30px;
    position: relative;
}

.message {
    margin: 10px;
}



img {
    height: 100%;
    width: 100%;
}

#successupload {
    width: 200px;
}

.info>p {
    font-size: large;
    font-weight: 900;
    position: relative;
    font-style: inherit;
    color: rgb(12, 13, 13);
}

.info>label {
    height: 17px;
    position: relative;
    align-items: center;
}

.info {
    display: block;
    height: 25px;
    position: relative;
    width: 200px;
    color: rgb(30, 39, 46);
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    font-style: inherit;
    display: block;
    font-weight: 900;
}


/
/* Animation styles */

@keyframes revealText {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}