.git
.gitignore
.gitattributes

*.pyc
.DS_Store
Thumbs.db
.idea/
.vscode/
__pycache__/
.venv/
env/
venv/
.uv-cache
.env
.env.*

node_modules/
WareHouse/
data/
temp/
logs

/frontend
README*
compose.yml
Dockerfile
