[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.4.6"
flask = "==2.3.2"
flask-socketio = "==5.3.4"
importlib-metadata = "==6.8.0"
numpy = "==1.24.3"
openai = "==1.40.3"
regex = "==2023.6.3"
requests = "==2.31.0"
tenacity = "==8.2.2"
tiktoken = "==0.4.0"
virtualenv = "==20.23.0"
werkzeug = "==3.0.3"
markdown = "==3.4.4"
pillow = "==10.3.0"
wikipedia-api = "==0.6.0"
beautifulsoup4 = "==4.12.2"
faiss-cpu = "==1.7.4"
pyyaml = "==6.0.1"
easydict = "==1.10"
annotated-types = "==0.7.0"
anyio = "==4.4.0"
appmap = "==2.1.5"
bidict = "==0.23.1"
blinker = "==1.8.2"
certifi = "==2024.7.4"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
distlib = "==0.3.8"
distro = "==1.9.0"
exceptiongroup = "==1.2.2"
filelock = "==3.15.4"
h11 = "==0.14.0"
httpcore = "==1.0.5"
httpx = "==0.27.0"
idna = "==3.7"
importlib-resources = "==5.13.0"
inflection = "==0.5.1"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.4"
jiter = "==0.5.0"
markupsafe = "==2.1.5"
objprint = "==0.2.3"
packaging = "==24.1"
platformdirs = "==3.11.0"
pydantic = "==2.8.2"
pydantic-core = "==2.20.1"
python-dotenv = "==1.0.1"
python-engineio = "==4.9.1"
python-socketio = "==5.11.3"
simple-websocket = "==1.0.0"
sniffio = "==1.3.1"
soupsieve = "==2.5"
tqdm = "==4.66.5"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.2"
viztracer = "==0.16.3"
wsproto = "==1.2.0"
zipp = "==3.19.2"

[dev-packages]
viztracer = "*"
autoflake = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python visualizer/app.py"
run = "python run.py"
groq = "python run.py -m LLAMA_3"
trace_server = "viztracer --open visualizer/app.py"
trace_run = "viztracer --open run.py"
setup_dev_environment = "pipenv sync -d"
clean_project = "git clean --exclude=!.env -Xdf"
clean_pipenv = "pipenv run pip freeze > requirements.txt && pipenv install -r requirements.txt && rm requirements.txt"
trace_report = "vizviewer result.json"
scrub = "autoflake --in-place --remove-unused-variables --remove-all-unused-imports --ignore-init-module-imports --exclude=__init__.py --recursive"