[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "==0.4.6"
flask = "==2.3.2"
flask-socketio = "==5.3.4"
importlib-metadata = "==6.8.0"
numpy = "==1.24.3"
openai = "*"
regex = "==2023.6.3"
requests = "==2.31.0"
tenacity = "==8.2.2"
tiktoken = "==0.4.0"
virtualenv = "==20.23.0"
werkzeug = "==3.0.3"
markdown = "==3.4.4"
pillow = "==10.3.0"
wikipedia-api = "==0.6.0"
beautifulsoup4 = "==4.12.2"
faiss-cpu = "==1.7.4"
pyyaml = "==6.0"
easydict = "==1.10"

[dev-packages]
viztracer = "*"

[requires]
python_version = "3.9"

[scripts]
serve = "python visualizer/app.py"
run = "python run.py"
dev_serve   = "viztracer --open visualizer/app.py"
dev_run = "viztracer --open run.py"
dev_setup = "pipenv sync -d"
clean = "git clean --exclude=!.env -Xdf "
