aiohttp==3.8.4
aiosignal==1.3.1
astroid==2.15.0
async-timeout==4.0.2
attrs==23.1.0
autopep8==1.6.0
bidict==0.22.1
blinker==1.6.2
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.6
colorama==0.4.6
dill==0.3.6
distlib==0.3.6
docstring-to-markdown==0.11
filelock==3.12.2
flake8==6.0.0
Flask==2.3.2
Flask-SocketIO==5.3.4
frozenlist==1.3.3
identify==2.5.24
idna==3.4
importlib-metadata==6.8.0
install==1.3.5
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
lazy-object-proxy==1.9.0
litellm>=0.1.609
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
nodeenv==1.8.0
numpy==1.24.3
openai==0.27.8
packaging==23.0
parso==0.8.3
Pillow==9.5.0
platformdirs==3.5.3
pluggy==1.2.0
pre-commit==3.3.3
pycodestyle==2.10.0
pydocstyle==6.2.3
pyflakes==3.0.1
pygame==2.5.1
pylint==2.17.0
PySocks==1.7.1
python-engineio==4.5.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-socketio==5.8.0
pytoolconfig==1.2.5
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
retrying==1.3.4
rope==1.7.0
six==1.16.0
snowballstemmer==2.2.0
tenacity==8.2.2
tiktoken==0.4.0
timeout-decorator==0.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.65.0
typing_extensions==4.5.0
ujson==5.7.0
urllib3==2.0.3
virtualenv==20.23.0
Werkzeug==2.3.6
whatthepatch==1.0.4
wrapt==1.15.0
yapf==0.32.0
yarl==1.9.2
zipp==3.16.2
