body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    margin-top: 20px;
}
form {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 5px;
}